<div class="box">
  <div class="actions">
    <div class="d-flex align-items-center">
      <h1>Datos del Juzgado  <strong style="color: gray;">-</strong>  Información</h1>
    </div>
  </div>

  <div class="card d-flex align-items-center justify-content-center flex-column p-3">
    <div class="d-flex align-items-center justify-content-center">
      <h2>Datos personales para boletín</h2>
    </div>
    <div class=" d-flex align-items-center justify-content-center flex-column" style="width: 80%;">
      <div class="input-with-icon" style="width: 100%;">
        <i class="fa fa-briefcase"></i>
        <input type="text" placeholder="Puesto">
      </div>
      <div class="input-with-icon" style="width: 100%;">
        <i class="fa fa-user"></i>
        <input type="text" placeholder="Nombre">
      </div> 
      <div class="input-with-icon" style="width: 100%;">
        <i class="fa fa-home"></i>
        <input type="text" placeholder="Domicilio">
      </div>
      <div class="input-container d-flex align-items-center justify-content-center" style="width: 100%;">
        <div class="input-with-icon" style="width: 100%;">
          <i class="fa fa-gavel"></i>
          <input type="text" placeholder="Clave de juzgado">
      </div>
      <select class="mi-select form-select m-1" >
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div> 
    <div class="input-with-icon" style="width: 100%;">
      <i class="fa fa-file-text"></i>
      <input type="text" placeholder="Descripción">
    </div>
    <div class="input-with-icon" style="width: 100%;">
      <i class="fa fa-link"></i>
      <input type="text" placeholder="Ruta boletín">
    </div>
    </div>
      <div class="m-3 d-flex align-items-end justify-content-center flex-column" style="width: 80%;">
        <button class="btn-action btn-sm btn m-1" type="submit" style="width: 100%;">Guardar</button>
        <button class="btn-cancel btn-sm btn m-1" type="submit" style="width: 100%;">Cancelar</button> 
    </div>  
  </div>      
</div>