<footer>
    <div class="footer-container">
        <div class="container">
            <div class="container-text">
                <p>Unidad Departamental de Informática del Consejo de la Judicatura del Estado de Jalisco</p>
            </div>
            <div class="container-sociial">
                <p>Redes Sociales</p>
                <div class="social-media">
                    <a href="https://www.facebook.com/JudicaturaJal/" target="_blank" rel="Facebook">
                        <img src="../../../assets/img/icons/Facebook.svg" alt="">
                    </a>
                    <img src="../../../assets/img/icons/Twitter.svg" alt="">
                    <img src="../../../assets/img/icons/YouTube.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>