<header>
  <div class="header-container">
      <div class="img-container m-3">
          <img class="header-logo" src="../../../assets/img/Logo CJJ.svg" alt="CJJ Logo" />
      </div>

      <div class="login-container">
        <span class="ingresar" (click)="ingresaClick()">Ingresar</span>
        <img style="
        height: 25px;
        display: inline-block;
        margin: 0 10px 0 10px;
        " src="../../../assets/img/vbar.svg" alt="" (click)="ingresaClick()" />
        <img
        style="height: 3vw; min-height: 45px; display: inline-block;"
        src="../../../assets/img/avatar.svg" alt="" (click)="ingresaClick()" />
        <!--<button class="btn-action btn" (click)="ingresaClick()">Ingresa</button>-->
      </div>
      
  </div>
</header>
