@import '../../../assets/styles/vars.scss';

.card{
    height: 65%;
    border-radius: 15px;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
    overflow-y: auto;
}


@media only screen and (max-width: 768px){
    .card{
        margin-left: 0%;
        margin-right: 0%;
    }
}
