<div class="box">
    <div class="actions">
        <div class="row-1 d-flex align-items-center">
            <h1>Cuadrante <strong style="color: gray;">-</strong> Registrar fecha</h1>
        </div>
    </div>

    <div class="alert mt-3 mb-3" [ngClass]="{'alert-success': mostrarAlerta && mensajeAlerta.includes('encontrada') || mostrarAlerta && mensajeAlerta.includes('actualizado'), 'alert-danger': mostrarAlerta && mensajeAlerta.includes('no encontrada') || mostrarAlerta && mensajeAlerta.includes('actualizar')}" role="alert" *ngIf="mostrarAlerta">
        {{ mensajeAlerta }}
    </div>

    <div class="card d-flex align-items-center flex-column">
        <div class="p-2">
            <h2>Introduzca una fecha para boletinar</h2>
        </div>
        <div class="p-2" style="width: 70%;">
            <div class="input-container-date d-flex align-items-center m-2" style="width: 100%;">
                <input type="date" placeholder="Seleccione una fecha" [(ngModel)]="selected" (change)="checkFecha()">
            </div>
        </div>
        <div class=" mt-auto" style="width: 100% !important;">
            <button class="btn btn-action m-1" style="width: 100% !important;" (click)="actualizarFecha()" [disabled]="guardarDeshabilitado">Guardar cambios </button>
            <button class="btn btn-cancel m-1" style="width: 100% !important;" (click)="cancelar()">Cancelar </button>
        </div>
    </div>
</div>