<div class="box">
  <div class="actions">
    <div class="row-1 d-flex align-items-center">
      <h1>Cuadrante <strong style="color: gray;">-</strong> Modificación de expediente</h1>
    </div>

    <div class="d-flex align-items-center justify-content-between flex-wrap">
      <div class="d-flex align-items-center justify-content-start">
        <div class="input-with-icon" style="width: 60%;">
          <i class="fa fa-search"></i>
          <input type="text" placeholder="Expediente" [(ngModel)]="expediente" (input)="deshabilitarCampos()">
        </div>
        <div class="input-with-icon" style="width: 50%;">
          <i class="fa fa-search"></i>
          <input type="text" placeholder="Tipo" [(ngModel)]="tipo" #tipoInput (keydown)="handleKeyboardEvent($event, tipoInput)" (input)=" deshabilitarCampos()">
        </div>
      </div>
    </div>
  </div>

  <div class="alert mt-3 mb-3" [ngClass]="{'alert-success': mostrarAlerta && mensajeAlerta.includes('encontrada') || mostrarAlerta && mensajeAlerta.includes('actualizado'), 'alert-danger': mostrarAlerta && mensajeAlerta.includes('no encontrada') || mostrarAlerta && mensajeAlerta.includes('actualizar')}" role="alert" *ngIf="mostrarAlerta">
    {{ mensajeAlerta }}
  </div>

  <div class="card d-flex align-items-center flex-column">
    <div class="p-2">
      <h2>Introduzca el nuevo tipo de juicio</h2>
    </div>
    <div class="p-2">
      <div class="input-with-icon" style="width: 100%;">
        <i class="fa fa-hashtag"></i>
        <input type="text" placeholder="Clave TJ" [(ngModel)]="claveTJ" [disabled]="true">
      </div>
      <div class="input-with-icon" style="width: 100%;">
        <i class="fa fa-gavel pr-3"></i>
        <select  style="padding-left: 30px !important;" class=" form-select" [(ngModel)]="tipoJuicio" [disabled]="!bandera" (change)="updateClaveTJ()">
          <option *ngFor="let tipo of tiposDeJuicio" [value]="tipo.key">{{ tipo.value }}</option>
        </select>

      </div>
    </div>
    <div class=" mt-auto" style="width: 100% !important;">
      <button class="btn btn-action m-1" style="width: 100% !important;" [disabled]="!(claveTJ && tipoJuicio && !tipo.includes('\t'))" (click)="actualizarExpediente()">Guardar cambios </button>
      <button class="btn btn-cancel m-1" style="width: 100% !important;" (click)="cancelar()">Cancelar </button>
    </div>
  </div>
</div>
