@import '../../../assets/styles/vars.scss';
@import '../../../styles.scss';

.data-title{
    font-size:medium;
    font-weight: 500;
    padding: .1rem;
}
.data-text{
    padding-top: .6rem;
    padding-bottom: .6rem;
    width: auto;
    background-color: $gray-back;
    border-radius: 15px;
    font-size: small;
}

.table-height{
    height: 200px;
}

textarea{
    border-radius: 15px;
    padding: .5rem;
    width: 100%;
}

textarea:hover{
    border: 1px solid black;
}

