
<div *ngIf="sharedService.bandera; else elseBlock">
  <div class="box">
    <div class="actions">
      <app-header></app-header>
    </div>
    <app-main></app-main>
    <app-footer></app-footer>
  </div>
</div>

<ng-template #elseBlock>
  <app-navigation-drawer id="navDrawer" *ngIf="sharedService.showDrawer == true"></app-navigation-drawer>
  <app-searcher></app-searcher>
  <main [style]="{'padding-left': this.widthDrawer}">
    <div class="content-router">
      <router-outlet></router-outlet>
    </div>
  </main>
  <app-dashboard-footer></app-dashboard-footer>
</ng-template>






