@import '../../../assets/styles/vars.scss';
@import '../../../styles.scss';



.data-title{
    font-size:medium;
    font-weight: 500;
    padding: .1rem;
}
.data-text{
    padding-top: .6rem;
    padding-bottom: .6rem;
    width: auto;
    background-color: $gray-back;
    border-radius: 15px;
    font-size: small;
}

.extract{
    background-color: $gray-back; 
    border-radius: 10px;
    width: 100%;
}

.table-height{
    height: 200px;
}

@media only screen and (max-width: 768px){
    .data-title{
        font-size:smaller;
        font-weight: 500;
       
    }
    .data-text{
        font-size: xx-small;
    }
}

