@import '../../../assets/styles/vars.scss';
@import '../../../styles.scss';

input:hover{
    cursor: pointer;
}
.input-container {
    width: 40%;
}
input[type="date"] {
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid $darkGray;
    width: 90%;
}

