<div class="box">
  <div class="actions">
    <div class=" d-flex align-items-center">
      <h1>Cuadrante  <strong style="color: gray;">-</strong>  Reporte</h1>
    </div>

    <div class="d-flex align-items-center justify-content-between flex-wrap">
      <div class="input-container-date d-flex align-items-center m-2">
        <input type="date" placeholder="Seleccione una fecha">
      </div>

      <div class="d-none d-md-block">
        <button class="btn btn-sm btn-action col m-2 "><i class="fa fa-upload"></i> Enviar </button>
        <button class="btn btn-sm btn-dark col m-2 "><i class="fa fa-print"></i> Imprimir </button>
        <button class="btn btn-sm btn-dark col m-2 "><i class="fa fa-pencil"></i> Resumen</button>
        <button class="btn btn-sm btn-dark col m-2 "><i class="fa fa-exclamation-circle"></i> Fe de Erratas</button>
      </div>

      <div class=" d-block d-md-none mt-2" style="width: 100%;">
        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group" style="width: 100% !important;">
          <button type="button" class="btn btn-action p-2">Aceptar </button>
          <button type="button" class="btn btn-dark p-2">Imprimir</button>
          <button type="button" class="btn btn-dark p-2">Resument</button>
          <button type="button" class="btn btn-dark p-2">Fe de Erratas</button>
        </div>
      </div>
    </div>
    
    <div class="row-3 d-flex align-items-center">
      <h2 class="mt-3 mb-3 d-flex">Datos del expediente</h2>
    </div>
  </div>
  
  <div class="row-4 d-flex align-items-start">
    <div class="table-container">
      <div class="table-header">
        <table class="table">
          <thead>
            <tr>
              <th class="th" *ngFor="let header of tableHeaders" scope="col">{{ header }}</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="table-contain">
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let rowData of tableData">
              <td *ngFor="let cellData of rowData">{{ cellData }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


