<div class="box">
  <div class="actions">
    <div class="d-flex align-items-center">
      <h1>Consultas  <strong style="color: gray;">-</strong>  Expediente</h1>
    </div>

    <div class="d-flex align-items-center justify-content-center">
      <div class="input-with-icon" style="width: 60%;">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Nombre de la parte" [(ngModel)]="nombreExpediente" #nombreExpedienteInput (keydown)="handleKeyboardEvent($event, nombreExpedienteInput)">
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-center m-2">
      <div style="display: flex; align-items: start; font-size: large;">Expedientes</div>
    </div>
  </div>
  
  <div class="d-flex align-items-start">
    <div class="table-container">
      <div class="table-header">
        <table class="table">
          <thead>
            <tr>
              <th class="th" *ngFor="let header of tableHeaders_1" scope="col">{{ header }}</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="table-contain">
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let rowData of tableData_1">
              <td *ngFor="let cellData of rowData">{{ cellData }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





