<div class="back-content d-flex justify-content-center align-items-center">
  <div class="d-flex align-items-center justify-content-center flex-column content-info" >
    <div class="d-flex align-items-ceneter justify-content-start" style="width: 90%; color: #165144;">
      <h1 class="fw-medium text-start m-2" style="font-size: 3rem !important; line-height: 1;
      ">Publicación de Boletín judicial</h1>
    </div>
    
    <div class="d-flex justify-content-end" style="width: 90%;">
      <p class="m-3 text-justify" style="font-size: 1.3rem;">El Boletín Judicial es un instrumento de comunicación oficial que se publica diariamente en los días hábiles, en él se incluyen los acuerdos y resoluciones del día, edictos y avisos de los Juzgados de Primera de primera instancia y menores del Consejo de la Judicatura del Estado de Jalisco.</p>
    </div>  

    <div class="d-flex justify-content-end" style="width: 90%;">
      <a type="button" class="btn btn-action m-2" href="https://cjj.gob.mx/bulletin">Ir a extractos</a>
      <a type="submit" class="btn btn-action m-2" href="https://ciudadano.cjj.gob.mx/boletin_judicial/consultar#juzgados">Juicio en linea</a>

    </div> 
    
    
  </div>
</div>
  
