$theme-font: monospace;
$green: #165144;
$soft-green: #2A9662;
$black: #000;
$white: #fff;
$orange: #FB8E2F;
$gray: #E6E6E6;
$gray-back:rgb(245,245,245);
$mid-gray: #9D9D9D;
$darkGray: #5E5E5E;
$boys: #37BC3C;
$girls: #B958E7;
$teens: #46A3F9;
$err: #BA1A1A;