<footer>
    <div class="footer-container">
        <div class="container">
            <div class="container-text">
                <p style="font-size: inherit; margin-bottom: 0px;">Unidad Departamental de Informática del Consejo de la Judicatura del Estado de Jalisco</p>
            </div>
            <div >
                <p class="container-social" style="font-size: smaller; margin: 0;">Redes Sociales</p>
                <div class="social-media">
                    <img src="../../../assets/img/icons/Facebook.svg">
                    <img src="../../../assets/img/icons/Twitter.svg" alt="">
                    <img src="../../../assets/img/icons/YouTube.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>