@import '../../../assets/styles/vars.scss';

main{
    padding-right: 0px;
    padding-top: 64px;
    padding-bottom: 0px;
    min-height: 300px;
    height: 100vh;
    background-image: url("../../../assets/img/image.jpg"),
    linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;  
    display: flex;
    justify-content: center;
    background-color: #000; /* Color de fondo para destacar el div flotante */

}

.content-router{
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #59DEA9;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);   
    z-index: 4000 !important; 
    width: 95%;
    margin-bottom: 5rem;
    text-align: center;
    padding: 2rem;
}

@media only screen and (max-width: 768px){
    main{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .content-router{
        width: 100%;
        padding: .8rem;
    }
}