@import '../../../assets/styles/vars.scss';

.card{
    border-radius: 15px;
    background-color: $gray-back;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2rem;
    border: none;
}

@media only screen and (max-width: 768px){
    .card{
        border-radius: 15px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1rem;
        border: none;
    }
}